@import url('https://fonts.googleapis.com/css2?family=Cambay:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,700;0,1000;1,200;1,300;1,400;1,500;1,1000&family=Sumana:wght@400;700&display=swap');

/* Color Scheme:
*  #E63946  Red
*  #FE7F2D  Pumpkin
*  #F1FAEE  Off-White
*  #A8DADC  IDK Dusty
*  #457B9D  Dusty Blue
*  #1D3557  Dark Blue
*/

* {
    margin: 0;
    font-family: 'Cambay', sans-serif;
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
}

main {
    background-color: #F1FAEE;
}

strong {
    font-weight: 700;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-style: oblique;
    font-size: 4.3rem;
    line-height: 100%;
}

h2 {
    font-family: 'Sumana', serif;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 100%;
}

/* ================== NAVIGATION BAR =================== */

nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}

#nav-toggle:checked nav {
    background-color: rgba(0, 0, 0, 0.2);
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    cursor: pointer;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 22px;
    padding: 15px 15px;
    z-index: 3;
}

.nav-toggle-label span:first-child {
    height: 2.2px;
    border-radius: 1.1px;
}

.nav-toggle-label:hover span {
    background-color: #1D3557;
}

.nav-toggle-label span {
    background-color: #457B9D;
    display: block;
    height: 2px;
    border-radius: 1px;
    width: 100%;
    transition: all 0.4s ease;
}

/* Rotate first bar */
#nav-toggle:checked + .nav-toggle-label span:first-child {
    height: 2px;
    transform: translate(0, 9px) rotate(-45deg);
}

/* Fade out the second bar */
#nav-toggle:checked + .nav-toggle-label span:nth-child(2) {opacity: 0;}

/* Rotate last bar */
#nav-toggle:checked + .nav-toggle-label span:last-child {
    transform: translate(0, -9px) rotate(45deg);
}

.nav-menu {
    display: flex;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    background-color: rgb(168, 218, 220, 0.4);
    margin: 0;
    padding-left: 50px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
    box-shadow: 0 0px 5px 2px rgb(168, 218, 220, 0.4);
}

#nav-toggle:checked ~ .nav-menu {
    transform: translateX(0px);
}

.nav-menu li {
    margin: 0;
}

.nav-menu a {
    color: #457B9D;
    display: block;
    padding: 10px;
    margin: 0 2px;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.nav-menu a:hover {
    background-color: rgba(69, 123, 157, 0.7);
    box-shadow: 0 0px 5px 2px rgba(69, 123, 157, 0.4);
    color: #F1FAEE;
}

/* ====================== FOOTER ======================= */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #1D3557;
    color: #A8DADC;
    font-weight: 300;
}

.contact-links {
    display: flex;
    align-items: center;
    margin: 0.4rem;
}

.contact-links a {
    text-decoration: none;
    color: #A8DADC;
    margin: 0 0.3rem;
    transition: all 0.4ms ease;
}

.contact-links a:hover {
    color: #F1FAEE;
    /* font-size: 1.2rem; */
    /* margin: 0 0.5rem; */
}

footer .attribution {
    font-size: 10pt;
    color: #A8DADC;
}