@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;0,700;1,600;1,700&family=Hind+Vadodara:wght@300;400;500&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

* {
    margin: 0;
    font-family: 'Hind Vadodara', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 5.3em;
}

h2 {
    font-family: 'Crimson Text', serif;
    font-style: oblique;
    font-weight: 700;
    font-size: 2.3em;
}

/* ================== NAVIGATION BAR =================== */

nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
}

#nav-toggle:checked nav {
    background-color: rgba(0, 0, 0, 0.2);
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    cursor: pointer;
    display: flex;
    box-sizing: content-box;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 20px;
    padding: 15px 15px;
    z-index: 3;
}

.nav-toggle-label span {
    background-color: whitesmoke;
    display: block;
    height: 2px;
    width: 100%;
    transition: all 0.2s ease;
}

/* .nav-toggle-label span:first-child {
    transform-origin: top;
} */

/* .nav-toggle-label span:last-child {
    transform-origin: bottom;
}

#nav-toggle:checked + .nav-toggle-label span:first-child {
    transform: rotate(45deg);
    top: 11px;
}

#nav-toggle:checked + .nav-toggle-label span:nth-child(2) {
    opacity: 0;
}

#nav-toggle:checked + .nav-toggle-label span:last-child {
    transform: rotate(-45deg);
    bottom: 11px;
} */

.nav-menu {
    display: flex;
    z-index: 2;
    flex-direction: row;
    align-items: center;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding-left: 50px;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50px;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}

#nav-toggle:checked ~ .nav-menu {
    transform: translateX(0px);
}

.nav-menu li {
    margin: 0;
}

.nav-menu a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: all 0.2s ease;
}

.nav-menu a:hover {
    background-color: rgba(119, 117, 117, 0.7);
}

/* ========================= HERO ========================= */
.hero {
    position: relative;
    height: 80vh;
    width: 100%;
}

.cover-img {
    object-fit: cover;
    width: 100%;
    height: 80vh;
}

.hero-content {
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}


/* ====================== FOOTER ======================= */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 300;
}

.contact-links {
    display: flex;
    align-items: center;
    margin: 0.4rem;
}

.contact-links a {
    text-decoration: none;
    color: white;
    margin: 0 0.3rem;
    transition: all 0.4ms ease;
}

.contact-links a:hover {
    color: lightskyblue;
    font-size: 1.2rem;
    margin: 0 0.5rem;
}